*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

.admin{
    display: flex;
    margin-right: 20px;
}
.nav{
    padding: 5px;
    margin-top: 35px;	
    margin-left: auto;
}
.add{
    padding: 10px;
}
h3{
    color: red;
    font-size: 15px;
    padding-left: 30px;
    padding-top: 20px;
}

label{
    width: 200px;
}
#name{
    width: 100%;
    height: 25px;
}
input{
    margin-bottom: 20px;
    border: 2px solid grey;
    border-radius: 5px;
}
.catprice{
    display: flex;
    gap: 2px;
}
#price #category{
    height: 25px;
}
#description{
    width: 100%;
    height: 80px;
}
.submit{
    justify-self: center;
    color: white;
    background-color: black;
    padding: 5px 5px 5px 5px;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
}
.admin{
    display: flex;	
    padding-bottom: 10px;
}
.addflowers{
    margin-left: auto;
    margin-top: 20px;
    gap: 5px;
    display: flex;
}
.button{
    margin-left: 10px;
    cursor: pointer;
    padding: 2px 1px 2px 1px;
    border-radius: 8px;
    font-size: 10px;
}

.button:hover{
    background-color:black;
    cursor: pointer;
    transform: rotate(360deg);
    color: white;
}


@media screen and (min-width:400px) and (max-width:1200px){
.nav{
    padding: 5px;
    margin-top: 35px;
    margin-left: auto;
}
.add{
    padding: 10px;
}
h3{
    font-size: 20px;
}
label{
    width: 200px;
}
#name{
    width: 100%;
}
input{
    margin-bottom: 20px;
    height: 20px;
}
.catprice{
    display: flex;
    gap: 10px;
    
}
#price #category{
    width: 5px;
    
}
#description{
    width: 100%;
    height: 80px;
}
.submit{
    justify-self: center;
    color: white;
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-color: black;
    border-radius: 10px;
    cursor: pointer;
}

.admin{
    display: flex;
    padding: 10px;
}
.addflower{
    margin-left: auto;
    padding-right: 20px;
    margin-top: 0px;
}
.button{
    margin-left: 10px;
    cursor: pointer;
    padding: 5px 2px 5px 2px;
    border-radius: 8px;
    font-size: 15px;
}

.button:hover{
    background-color:black;
    cursor: pointer;
    color: white;
}
}

@media (min-width:600px) and (max-width:1200px){
    
h3{
    font-size: 30px;
}
}

